mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__row
                .footer__col
                    h2.footer__title Наш адрес
                    p.footer__p Рязань, ул. Западная, д. 6Б
                .footer__col
                    h2.footer__title Время работы
                    p.footer__p 10:00 — 22.00<br>Пн — Пт
                .footer__col.last
                    h2.footer__title Контакты
                    p.footer__p Phone: <a href="tel:+74912997116">+7 (4912) 997-116</a><br>Email: <a href="mailto:info@energylabs.ru">info@energylabs.ru</a>
            .footer__soc 
                a(href="#!").footer__soc-item
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35 70C15.67 70 0 54.33 0 35C0 15.67 15.67 0 35 0C54.33 0 70 15.67 70 35C70 54.33 54.33 70 35 70ZM36.5134 26.2661C33.3787 27.57 27.1138 30.2685 17.7186 34.3619C16.1929 34.9686 15.3937 35.5621 15.321 36.1425C15.198 37.1233 16.4263 37.5095 18.0988 38.0354C18.3263 38.1069 18.562 38.1811 18.8037 38.2596C20.4492 38.7945 22.6628 39.4203 23.8135 39.4451C24.8573 39.4677 26.0223 39.0374 27.3085 38.1542C36.0868 32.2286 40.6181 29.2335 40.9026 29.1689C41.1033 29.1234 41.3815 29.0661 41.5699 29.2336C41.7583 29.4011 41.7398 29.7183 41.7199 29.8034C41.5982 30.3221 36.7769 34.8044 34.2819 37.124C33.5041 37.8471 32.9523 38.3601 32.8395 38.4772C32.5869 38.7397 32.3294 38.9879 32.0819 39.2265C30.5532 40.7002 29.4068 41.8053 32.1454 43.61C33.4614 44.4773 34.5146 45.1945 35.5652 45.9099C36.7126 46.6913 37.857 47.4706 39.3377 48.4413C39.7149 48.6885 40.0752 48.9454 40.4261 49.1956C41.7614 50.1475 42.961 51.0027 44.4431 50.8664C45.3043 50.7871 46.1938 49.9773 46.6456 47.5622C47.7133 41.8545 49.8119 29.4877 50.2969 24.3916C50.3394 23.9452 50.286 23.3738 50.243 23.1229C50.2001 22.8721 50.1104 22.5147 49.7844 22.2501C49.3982 21.9368 48.8021 21.8707 48.5355 21.8752C47.3233 21.8968 45.4636 22.5435 36.5134 26.2661Z" fill="url(#paint0_linear_438_574)"/>
                        <defs>
                        <linearGradient id="paint0_linear_438_574" x1="0" y1="35" x2="70" y2="35" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F83600"/>
                        <stop offset="1" stop-color="#F9D423"/>
                        </linearGradient>
                        </defs>
                    </svg>
                a(href="#!").footer__soc-item
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.4033 28.1516C23.59 37.2516 28.14 42.7116 36.12 42.7116H36.5867V37.5083C39.515 37.8 41.7317 39.9466 42.6183 42.7116H46.76C46.3352 41.1404 45.5822 39.6772 44.5505 38.4183C43.5189 37.1594 42.2321 36.1335 40.775 35.4083C42.0807 34.6132 43.2084 33.5573 44.0876 32.3067C44.9668 31.0562 45.5787 29.6377 45.885 28.14H42.1283C41.3117 31.0333 38.885 33.6583 36.5867 33.9033V28.1516H32.8183V38.2316C30.485 37.6483 27.545 34.825 27.4167 28.1516H23.4033Z" fill="url(#paint0_linear_438_575)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35 0C54.33 0 70 15.67 70 35C70 54.33 54.33 70 35 70C15.67 70 0 54.33 0 35C0 15.67 15.67 0 35 0ZM17.5 34.3C17.5 26.3783 17.5 22.4233 19.95 19.95C22.435 17.5 26.39 17.5 34.3 17.5H35.7C43.6217 17.5 47.5767 17.5 50.05 19.95C52.5 22.435 52.5 26.39 52.5 34.3V35.7C52.5 43.6217 52.5 47.5767 50.05 50.05C47.565 52.5 43.61 52.5 35.7 52.5H34.3C26.3783 52.5 22.4233 52.5 19.95 50.05C17.5 47.565 17.5 43.61 17.5 35.7V34.3Z" fill="url(#paint1_linear_438_575)"/>
                        <defs>
                        <linearGradient id="paint0_linear_438_575" x1="0" y1="35" x2="70" y2="35" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F83600"/>
                        <stop offset="1" stop-color="#F9D423"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_438_575" x1="0" y1="35" x2="70" y2="35" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F83600"/>
                        <stop offset="1" stop-color="#F9D423"/>
                        </linearGradient>
                        </defs>
                    </svg>
                a(href="#!").footer__soc-item
                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.5625 47.4687C29.75 48.7813 32.375 49.4375 35 49.4375C43.0937 49.4375 49.4375 42.875 49.4375 35.2187C49.4375 31.2813 48.125 27.7812 45.2813 24.9375C42.4375 22.3125 38.9375 20.7812 35 20.7812C27.125 20.7812 20.5625 27.3438 20.5625 35.2187C20.5625 37.8438 21.2187 40.4688 22.75 42.875L23.1875 43.5313L21.6562 48.7813L27.125 47.25L27.5625 47.4687ZM39.8125 37.1875C40.25 37.1875 42.4375 38.2812 42.875 38.5C42.9431 38.5341 43.0113 38.5628 43.0786 38.5912C43.4435 38.7453 43.7841 38.8891 43.9688 39.8125C44.1875 39.8125 44.1875 40.6875 43.75 41.7812C43.5313 42.6562 41.7813 43.75 40.9063 43.75C40.758 43.75 40.6161 43.7626 40.4644 43.776C39.721 43.8417 38.7449 43.9281 35.6562 42.6562C31.8227 41.1228 29.1649 37.4061 28.4185 36.3623C28.3131 36.2149 28.2458 36.1208 28.2187 36.0938C28.1815 36.0193 28.1062 35.9004 28.0069 35.7436C27.5229 34.9795 26.4688 33.315 26.4688 31.5C26.4688 29.3125 27.5625 28.2188 28 27.7812C28.4375 27.3438 28.875 27.3438 29.0937 27.3438H29.9688C30.1875 27.3438 30.625 27.3438 30.8438 28C31.2813 28.875 32.1563 31.0625 32.1563 31.2813C32.1563 31.3542 32.1806 31.4271 32.2049 31.5C32.2535 31.6458 32.3021 31.7917 32.1563 31.9375C32.0469 32.0469 31.9922 32.1562 31.9375 32.2656C31.8828 32.375 31.8281 32.4844 31.7188 32.5938L31.0625 33.25C30.8438 33.4688 30.625 33.6875 30.8438 34.125C31.0625 34.5625 31.9375 36.0938 33.25 37.1875C34.7268 38.4797 35.892 38.993 36.4828 39.2532C36.5921 39.3014 36.6817 39.3409 36.75 39.375C37.1875 39.375 37.4063 39.375 37.625 39.1563C37.7344 38.9375 38.0078 38.6094 38.2812 38.2812C38.5547 37.9531 38.8281 37.625 38.9375 37.4062C39.1562 36.9688 39.375 36.9688 39.8125 37.1875Z" fill="url(#paint0_linear_438_576)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 35C0 15.67 15.67 0 35 0C54.33 0 70 15.67 70 35C70 54.33 54.33 70 35 70C15.67 70 0 54.33 0 35ZM35 17.5C39.5937 17.5 43.9688 19.25 47.25 22.5313C50.5313 25.8125 52.5 30.1875 52.5 34.7813C52.5 44.4063 44.625 52.2813 35 52.2813C32.1562 52.2813 29.3125 51.4062 26.6875 50.0938L17.5 52.5L19.9063 43.75C18.375 41.125 17.5 38.0625 17.5 35C17.5 25.375 25.375 17.5 35 17.5Z" fill="url(#paint1_linear_438_576)"/>
                        <defs>
                        <linearGradient id="paint0_linear_438_576" x1="0" y1="35" x2="70" y2="35" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F83600"/>
                        <stop offset="1" stop-color="#F9D423"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_438_576" x1="0" y1="35" x2="70" y2="35" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F83600"/>
                        <stop offset="1" stop-color="#F9D423"/>
                        </linearGradient>
                        </defs>
                    </svg>