mixin sec()
    .sec 
        .sec__body.container 
            h2.sec__title.title Wattico  всегда рядом, всегда под рукой!
            .sec__row 
                .sec__item
                    h3.sec__item-title На рыбалке
                    .sec__item-img 
                        img(src="@img/img-1.png", alt="" draggable="false")
                    p.sec__item-p Оставайся на связи в любом месте,  используя наши солнечные панели и портативные электростанции 
                .sec__item
                    h3.sec__item-title В походе
                    .sec__item-img 
                        img(src="@img/img-2.png", alt="" draggable="false")
                    p.sec__item-p Пользуйся электричеством повсюду:  в горах, и в лесу, наши портативные электростанции и солнечные панели можно легко брать с собой
                .sec__item
                    h3.sec__item-title Дома и на даче
                    .sec__item-img 
                        img(src="@img/img-3.png", alt="" draggable="false")
                    p.sec__item-p Наслаждайся бесперебойной работой электроприборов при отключении электричества с помощью наших мощных электростанций
